rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /user_limits/{userId} {
      allow get: if request.auth != null && request.auth.uid == userId;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete, list: if false;
    }

    match /users/{userId} {
      allow get: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
      allow list: if false;
      
      match /userState/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /sharedResumes/{resumeId} {
      // Anyone can generate a share link (create a document)
      allow create: if true 
        && request.resource.data.keys().hasAll(['profile', 'blocks', 'blockOrder', 'createdAt']);
      // Anyone with the link (id) can read it
      allow get: if true;
      // Listing all resumes is forbidden (no scraping)
      allow list: if false;
      // Updating or Deleting share links is forbidden
      allow update, delete: if false;
    }

    match /liveResumes/{resumeId} {
      // Anyone can generate a live resume link
      allow create: if request.auth != null
        && request.resource.data.keys().hasAny(['profile', 'blocks', 'blockOrder']);
      // Anyone with the live link can view it
      allow get: if true;
      allow list: if false;
      // Updates require the creator's anonymous token to match or the ownerUid to match (to patch the legacy vulnerability)
      allow update: if request.auth != null && (
        (resource.data.ownerUid == request.auth.uid) ||
        (!("ownerUid" in resource.data) && request.resource.data.updateToken == resource.data.updateToken)
      );
      allow delete: if false;
    }
  }
}
